parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        analyse:
            - tests/Object/TestObjectWithInvalidDefaultProperties.php
    ignoreErrors:
        - '#through static::#'
services:
    -
        class: ADS\JsonImmutableObjects\PhpStan\PropertiesExtension
        tags:
            - phpstan.properties.readWriteExtension